<!doctype html>
{%extends 'tourguideportal/base.html'%}
{%load static%}
{%block body_block%}
<!-- header-start -->
<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="/">
                                    <img src="{%static 'img/tg.png'%}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="/">home</a></li>

                                      <li><a href="/contact">Contact</a></li>
                                        <li><a href="/about">AboutUs</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 d-none d-lg-block">
                            <div class="social_wrap d-flex align-items-center justify-content-end">

                                <div class="social_links d-none d-xl-block">
                                    <ul>
                                    
                                        <li><a target="_blank" href="/accounts/logout">Logout</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
<!-- header-end -->
    <div class="destination_banner_wrap overlay har">
        <div class="destination_text text-center">
            <h3>Harbour</h3>
            <a target="_blank" href="https://www.bing.com/maps?q=vizag+harbour&qs=AS&pq=vizag+har&sc=8-9&cvid=0E35C09A6E1546B888ADEDA5EB5AF84A&FORM=QBRE&sp=1"><p>click here for location!</p></a>
        </div>
    </div>

    <div class="destination_details_info">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-9">
                    <div class="destination_info">
                        <h3>Description</h3>
                        <p>Visakhapatnam Port is one of 12 major ports in India and the only major port of Andhra Pradesh. It is India's second largest port by volume of cargo handled. It is located on the east coast of India and is located midway between the Chennai and Kolkata Ports.</p>
                        <p>Layout of the port: 
                            
                            Visakhapatnam Port has three harbours - the outer harbour, inner harbour and the fishing harbour. The outer harbour has 6 berths capable of handling vessels with a draft up to 17 meters while the smaller inner harbour has 18 berths that are Panamax compatible. Vizag Seaport owns two berths in the inner harbour; berth EQ-8 is fully mechanised and berth EQ-9 berth is not.
                            
                            The Dolphin's Nose Hill to the north of the entrance channel protects the harbour from cyclones that strike the east coast. The port is located on the area of a creek through which the coastal river Narava Gedda joins the sea.</p>
                        <p> History:
                            
                            Although the need for building a port on the east coast to access Central Provinces was felt by the British in the 19th century, the proposal of Col. H.Cartwright Reid of British Admiralty for constructing a harbour at Visakhapatnam was approved by the Government only after the First World War. The Inner Harbour was built by the Bengal Nagpur Railway between 1927 and 1933 to facilitate the export of manganese ore from the Central Provinces. The port, built at a cost of ₹378 lakhs was inaugurated by Lord Willingdon on 19 December 1933.[5]
                            
                            During the Second World War, the military significance of the port increased. After India's independence, the port witnessed growth under the various Five Year Plans. Over time, the port has grown from one with 3 berths handling 1.3 lakh tonnes per annum to one with 24 berths and annual traffic of 65 million tonnes. The port was notified as a major port in 1964 under the Major Port Trusts Act, 1963. Under the Act, the Visakhapatnam Port Trust is in charge of running the port.</p>
                        </div>

                    
                </div>
            </div>
        </div>
    </div>

    
{%endblock%}
    