<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hyderabad</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style media="screen">
      .s{
        padding-left:25%
      }
      .container{
        padding-left:20%;
        padding-top:3%;
      }
    </style>
  </head>
  <body>
    <!-- header-start -->
    <header>
      <div class="header-area ">
          <div id="sticky-header" class="main-header-area">
              <div class="container-fluid">
                  <div class="header_bottom_border">
                      <div class="row align-items-center">
                          <div class="col-xl-2 col-lg-2">
                              <div class="logo">
                                  <a href="/">
                                      <img src="{%static 'img/tg.png'%}" alt="">
                                  </a>
                              </div>
                          </div>
                          <div class="col-xl-6 col-lg-6">
                              <div class="main-menu  d-none d-lg-block">
                                  <nav>
                                      <ul id="navigation">
                                          <li><a class="active" href="/">Home</a></li>

                                          
                                        <li><a href="/contact">Contact</a></li>
                                          <li><a href="/about">AboutUs</a></li>
                                      </ul>
                                  </nav>
                              </div>
                          </div>
                          <div class="col-xl-4 col-lg-4 d-none d-lg-block">
                              <div class="social_wrap d-flex align-items-center justify-content-end">

                                  <div class="social_links d-none d-xl-block">
                                      <ul>
                                          
                                          <li><a  href="/accounts/logout">Logout</a></li>

                                      </ul>
                                  </div>
                              </div>
                          </div>

                          <div class="col-12">
                              <div class="mobile_menu d-block d-lg-none"></div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </header>
    <div class="jumbotron">
      <div class="s">

        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <h1>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspVisit Hyderabad!!</h1>
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      </div>
    </div>
    <div class="container">
      <h1>Page Under Development.</h1>
    </div>
  </body>
</html>